<section class="heading">
	<h1>{{ content.title }}</h1>
	<h2><span><span ng-repeat="genre in genres">{{ genre.title }}{{$last ? '' : '/'}}</span></span><span class="year">{{ content.production.year }}</span><span>{{ content.duration.readable}}</span></h2>
</section>