<section class="imdb">
	<a target="_blank" href="{{ content.imdb.url }}"><span class="imdb-logo"></span><strong>{{ content.imdb.rating }}</strong> från {{ content.imdb.votes }} användare</a>
</section>