<section class="meta">
	<div class="key-value">
		<strong>Skådespelare: </strong><span ng-repeat="actor in content.people.actors"><a target="_blank" href="/nope">{{ actor }}</a>{{$last ? '' : ', '}}</span>
		<strong>Regissör: </strong><span ng-repeat="director in content.people.directors"><a target="_blank" href="/nope"> {{ director }}{{$last ? '' : ', '}}</a></span>
		<strong>Land: </strong><span> {{ content.production.country }}</span>
	</div>

	<div class="tags">
		<span ng-show="availableInHd">HD</span>
		<span>{{ content.parentalRating }}</span>
	</div>
</section>