<section class="trailer">
	<div class="inner" ng-style="{
									'background': 'url('+image+') center no-repeat',
									'background-size' : 'cover'}"></div>
	<div class="play-button" ng-class="playButtonClass" ng-click="playTrailer()"></div>
	<div id="trailer" class="player" ng-class="playerClass" ng-bind-html="playIframe"></div>

	<div class="report">
		<a href="/nope" target="_blank">Felanmäl filmen</a>
	</div>
</section>