<div class="view">
	<div class="wrapper" ng-controller="viewController" ng-init="getContent()">
			<% include error %>
			<div ng-show="errorMessage.length === 0">
				<% include trailer %>
				<% include info %>
			</div>
	</div>
</div>
