  		<footer>
  			<div class="inner">
	  			<div class="column">
	  				<a class="logo" href="/nope"></a>
	  			</div>
	  			
	  			<div class="column">
	  				<div class="categories">
	  					<h3>Viaplay</h3>
		  				<a href="/web-se/serier">Serier</a>
		  				<a class="active" href="/web-se/film">Film</a>
		  				<a href="/web-se/sport">Sport</a>
		  				<a href="/web-se/barn">Barn</a>
		  				<a href="/web-se/hyrbutik">Hyrbutik</a>
		  			</div>
	  			</div>

	  			<div class="column">
		  			<div class="about">
		  				<h3>Om oss</h3>
		  				<a href="/press">Press</a>
		  				<a href="/jobb">Jobb</a>
		  			</div>

		  			<div class="customers">
		  				<h3>Viasat-kunder</h3>
		  				<a href="/viaplay-ingår">Viaplay Ingår</a>
		  			</div>
	  			</div>

	  			<div class="column">
		  			<div class="viasat-info">
		  				<h3>Information</h3>
		  				<a href="/kontakt">Kontakt</a>
		  				<a href="/vanliga-fragor">Vanliga frågor</a>
		  				<a href="/vara-plattformar">Våra Plattformar</a>
		  				<a href="/systemkrav">Systemkrav</a>
		  				<a href="/allmanna-villkor">Allmänna villkor</a>
		  				<a href="/sekretesspolicy">Sekretesspolicy</a>
		  				<a href="/cookies">Cookies</a>
		  			</div>
	  			</div>

	  			<div class="column">
		  			<div class="follow-us">
		  				<h3>Följ Oss</h3>
		  				<a href="/facebook">Facebook</a>
		  				<a href="/twitter">Twitter</a>
		  				<a href="/linkedin">LinkedIn</a>
		  				<a href="/blogg">Blogg</a>
		  			</div>
	  			</div>

	  			<div class="column">
		  			<div class="tv">
		  				<h3>TV</h3>
		  				<a href="/tv3">TV3</a>
		  				<a href="/tv10">TV10</a>
		  				<a href="/tv6">TV6</a>
		  				<a href="/viasat-film">Viasat Film</a>
		  			</div>
	  			</div>
  			</div>
  		</footer>

  		<% include scripts %>
	</body>
</html>