<!DOCTYPE html>
<html>
  	<head>
  		<base href="/">
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body ng-app="viasat">
  		<header>
  			<div class="inner">
	  			<a class="logo" href="/"></a>
	  			<nav>
	  				<a href="/web-se/serier">Serier</a>
	  				<a class="active" href="/web-se/film">Film</a>
	  				<a href="/web-se/sport">Sport</a>
	  				<a href="/web-se/barn">Barn</a>
	  				<a href="/web-se/hyrbutik">Hyrbutik</a>
	  			</nav>

	  			<div class="search-trigger"></div>
	  			<div class="user-menu-trigger">John Doe<span class="arrow"></span></div>
  			</div>
  		</header>