<script src="/javascripts/vendor/angular.min.js"></script>
<script src="/javascripts/vendor/angular-resource.min.js"></script>
<script src="/javascripts/vendor/angular-sanitize.min.js"></script>

<script src="/javascripts/item-app.js"></script>
<script src="/javascripts/item-factories.js"></script>
<script src="/javascripts/item-controller.js"></script>