footer {
	display: block;
	clear: both;
	overflow-hidden;
	margin-top: 50px;
	padding: 20px;
	background: $dark;

	.inner {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		clear: both;
		overflow: hidden;
	}

	.column {
		display: block;
		float: left;
		width: 16.66666666%;
		padding: 10px;

		* {
			line-height: 1.4em;
			font-family: $sans-serif;
		}

		> div {
			margin-bottom: 40px;
		}

		h3 {
			display: block;
			text-transform: uppercase;
			color: $light;
			margin-bottom: 20px;
		}

		a {
			display: block;
			clear: both;
			color: $middle;
			text-decoration: none;
			margin: 10px 0;

			&:hover {
				text-decoration: underline;
			}

			&.logo {
				display: block;
				height: 90px;
				width: 100%;
				background: url('/images/footer_logo_on_dark_large.png') left center no-repeat;
				background-size: auto 100%;
			}

		}
	}


}