html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: $light;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

h1, h2, h3, h4 {
	font-family: $sans-serif;
	line-height: 1.3em;
}

h1 {
	font-size: 48px;
	display: block;
	clear: both;
}

h2 {
	font-size: 32px;
}

strong {
	font-weight: bold;
}