header {
	$header-height = 66px;
	display: block;
	width: 100%;
	overflow: hidden;
	background: $dark;
	height: $header-height;;
	margin-bottom: 50px;
	padding: 0 20px;

	.inner {
		width: 100%;
		max-width: 1200px;
		display: block;
		height: 100%;
		margin: 0 auto;
		clear: both;
		overflow: hidden;

	}

	.logo {
		display: block;
		height: 100%;
		width: 144px;
		background: url('/images/header-logo-large.png') center no-repeat;
		background-size: 100%;
		float: left;
	}

	nav {
		display: block;
		float: left;
		margin-left: 100px;

		a {
			display: block;
			float: left;
			text-decoration: none;
			color: $light;
			font-family: $sans-serif;
			height 100%;
			font-size: 16px;
			line-height: $header-height;
			padding: 0 20px;
			text-transform: uppercase;

			&:hover, &.active {
				background: $light;
				color: $dark;
			}
		}
	}

	.user-menu-trigger {
		display: block;
		float: right;
		height: 100%;
		font-size: 16px;
		line-height: $header-height;
		color: $light;
		font-family: $sans-serif;
		cursor: pointer;
		margin-right: 50px;

		.arrow {
			display: block;
			float: right;
			background: url('/images/arrow.png') center no-repeat;
			background-size: 10px auto;
			height: 100%;
			padding: 20px 0;
			width: 20px;
		}
	}

	.search-trigger {
		$size = 40px;
		display: block;
		float: right;
		height: $size;
		border-radius($size/2);
		width: $size;
		background: $light url('/images/search-icon.png') center no-repeat;
		background-size: 20px;
		margin-top: ($size/($header-height*2))*$size;
		cursor: pointer;
	}
}