.wrapper {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
	clear: both;
	overflow: hidden;
}

.view {
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0 20px;
}

.error {
	width: 100%;
	text-align: center;
}

.trailer {
	display: block;
	float: left;
	width: 55%;
	padding-right: 20px;
	height: 500px;
	position: relative;

	.inner {
		height: 100%;
		width: 100%;
		width: 44.44444vw;
		margin: 0 auto;
		clear: both;
		height: 25vw;
	}

	.play-button {
		display: none;
		height: 100%;
		height: 25vw;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: url('/images/play-button.png') center no-repeat;
		background-size: 100px;
		background-size: 10vw;
		cursor: pointer;

		&.visible {
			display: block;
		}

		&:hover {
			background: rgba(255, 255, 255, 0.1) url('/images/play-button.png') center no-repeat;
			background-size: 100px;
			background-size: 10vw;
		}
	}

	.player {
		display: none;
		width: 100%;
		height: 100%;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;

		&.visible {
			display: block;
		}
	}

	.report {
		display: block;
		width: 100%;
		width: 44.44444vw;
		margin: 0 auto;
		clear: both;
		text-align: left;
	}

	a {
		font-family: $sans-serif;
		color: $middle;
		display: block;
		margin: 15px 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.info {
	display: block;
	float: right;
	width: 45%;
	padding-left: 20px;
	overflow: hidden;

	* {
		font-family: $sans-serif;
		color: $dark;
	}

	section {
		display: block;
		clear: both;
		padding: 0 0 15px 0;
	}

	h2 {
		clear: both;
		width: 100%;
		display: block;
		overflow: hidden;
		> span {
			margin-right: 20px;
			display: block; float: left;
			&.year {
				border-left: solid 1px $middle;
				border-right: solid 1px $middle;
				padding: 0 20px;
			}
		}
	}

	p {
		line-height: 1.4em;
	}

	a {
		color: $blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.imdb {
		.imdb-logo {
			display: block;
			float: left;
			margin-right: 10px;
			height: 20px;
			width: 40px;
			background: url('/images/imdb.png') center no-repeat;
			background-size: auto 100%;
		}
		strong {
			font-size: 20px;
		}

		a {
			color: $middle;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.meta {
		display: block;
		clear: both;
		overflow: hidden;
		.key-value {
			display: block;
			clear: both;
			overflow: hidden;

			* {
				line-height: 1.5em;
			}

			strong {
				float: left;
				clear: left;
				display: block;
				margin-right: 5px;
			}

			span {
				display: block;
				float: left;
				margin-right: 5px;
			}
		}

		.tags {
			clear: both;
			display: block;
			margin: 10px 0;

			span {
				display: block;
				float: left;
				padding: 0 8px;
				height: 24px;
				line-height: 24px;
				border-radius(3px);
				background: $dark;
				color: $light;
				margin-right: 10px;
			}
		}
	}

	.star {
		display: block;
		clear: left;
		border: solid 1px $middle;
		border-radius(3px);
		height: 40px;
		width: 40px;
		padding: 0;

		.favorite {
			display: block;
			clear: both;
			width: 40px;
			height: 40px;
			background: url('/images/star.png') center 9px no-repeat;
			background-size: 18px auto;
		}
	}
}