html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f9f9fb;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h1 {
  font-size: 48px;
  display: block;
  clear: both;
}
h2 {
  font-size: 32px;
}
strong {
  font-weight: bold;
}
header {
  display: block;
  width: 100%;
  overflow: hidden;
  background: #3d4348;
  height: 66px;
  margin-bottom: 50px;
  padding: 0 20px;
}
header .inner {
  width: 100%;
  max-width: 1200px;
  display: block;
  height: 100%;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
header .logo {
  display: block;
  height: 100%;
  width: 144px;
  background: url("/images/header-logo-large.png") center no-repeat;
  background-size: 100%;
  float: left;
}
header nav {
  display: block;
  float: left;
  margin-left: 100px;
}
header nav a {
  display: block;
  float: left;
  text-decoration: none;
  color: #f9f9fb;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 66px;
  padding: 0 20px;
  text-transform: uppercase;
}
header nav a:hover,
header nav a.active {
  background: #f9f9fb;
  color: #3d4348;
}
header .user-menu-trigger {
  display: block;
  float: right;
  height: 100%;
  font-size: 16px;
  line-height: 66px;
  color: #f9f9fb;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  margin-right: 50px;
}
header .user-menu-trigger .arrow {
  display: block;
  float: right;
  background: url("/images/arrow.png") center no-repeat;
  background-size: 10px auto;
  height: 100%;
  padding: 20px 0;
  width: 20px;
}
header .search-trigger {
  display: block;
  float: right;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  background: #f9f9fb url("/images/search-icon.png") center no-repeat;
  background-size: 20px;
  margin-top: 12.121212121212121px;
  cursor: pointer;
}
.wrapper {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  clear: both;
  overflow: hidden;
}
.view {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
}
.error {
  width: 100%;
  text-align: center;
}
.trailer {
  display: block;
  float: left;
  width: 55%;
  padding-right: 20px;
  height: 500px;
  position: relative;
}
.trailer .inner {
  height: 100%;
  width: 100%;
  width: 44.44444vw;
  margin: 0 auto;
  clear: both;
  height: 25vw;
}
.trailer .play-button {
  display: none;
  height: 100%;
  height: 25vw;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("/images/play-button.png") center no-repeat;
  background-size: 100px;
  background-size: 10vw;
  cursor: pointer;
}
.trailer .play-button.visible {
  display: block;
}
.trailer .play-button:hover {
  background: rgba(255,255,255,0.1) url("/images/play-button.png") center no-repeat;
  background-size: 100px;
  background-size: 10vw;
}
.trailer .player {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.trailer .player.visible {
  display: block;
}
.trailer .report {
  display: block;
  width: 100%;
  width: 44.44444vw;
  margin: 0 auto;
  clear: both;
  text-align: left;
}
.trailer a {
  font-family: Helvetica, Arial, sans-serif;
  color: #a4a6ab;
  display: block;
  margin: 15px 0;
  text-decoration: none;
}
.trailer a:hover {
  text-decoration: underline;
}
.info {
  display: block;
  float: right;
  width: 45%;
  padding-left: 20px;
  overflow: hidden;
}
.info * {
  font-family: Helvetica, Arial, sans-serif;
  color: #3d4348;
}
.info section {
  display: block;
  clear: both;
  padding: 0 0 15px 0;
}
.info h2 {
  clear: both;
  width: 100%;
  display: block;
  overflow: hidden;
}
.info h2 > span {
  margin-right: 20px;
  display: block;
  float: left;
}
.info h2 > span.year {
  border-left: solid 1px #a4a6ab;
  border-right: solid 1px #a4a6ab;
  padding: 0 20px;
}
.info p {
  line-height: 1.4em;
}
.info a {
  color: #328fce;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
.info .imdb .imdb-logo {
  display: block;
  float: left;
  margin-right: 10px;
  height: 20px;
  width: 40px;
  background: url("/images/imdb.png") center no-repeat;
  background-size: auto 100%;
}
.info .imdb strong {
  font-size: 20px;
}
.info .imdb a {
  color: #a4a6ab;
}
.info .imdb a:hover {
  text-decoration: none;
}
.info .meta {
  display: block;
  clear: both;
  overflow: hidden;
}
.info .meta .key-value {
  display: block;
  clear: both;
  overflow: hidden;
}
.info .meta .key-value * {
  line-height: 1.5em;
}
.info .meta .key-value strong {
  float: left;
  clear: left;
  display: block;
  margin-right: 5px;
}
.info .meta .key-value span {
  display: block;
  float: left;
  margin-right: 5px;
}
.info .meta .tags {
  clear: both;
  display: block;
  margin: 10px 0;
}
.info .meta .tags span {
  display: block;
  float: left;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #3d4348;
  color: #f9f9fb;
  margin-right: 10px;
}
.info .star {
  display: block;
  clear: left;
  border: solid 1px #a4a6ab;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  padding: 0;
}
.info .star .favorite {
  display: block;
  clear: both;
  width: 40px;
  height: 40px;
  background: url("/images/star.png") center 9px no-repeat;
  background-size: 18px auto;
}
footer {
  display: block;
  clear: both;
overflow-hidden
  margin-top: 50px;
  padding: 20px;
  background: #3d4348;
}
footer .inner {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  clear: both;
  overflow: hidden;
}
footer .column {
  display: block;
  float: left;
  width: 16.66666666%;
  padding: 10px;
}
footer .column * {
  line-height: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
}
footer .column > div {
  margin-bottom: 40px;
}
footer .column h3 {
  display: block;
  text-transform: uppercase;
  color: #f9f9fb;
  margin-bottom: 20px;
}
footer .column a {
  display: block;
  clear: both;
  color: #a4a6ab;
  text-decoration: none;
  margin: 10px 0;
}
footer .column a:hover {
  text-decoration: underline;
}
footer .column a.logo {
  display: block;
  height: 90px;
  width: 100%;
  background: url("/images/footer_logo_on_dark_large.png") left center no-repeat;
  background-size: auto 100%;
}
